@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,400;1,700&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Patua+One&display=swap');

/* CSS Variables */
/* really cool pink #FFADCA; */
:root{
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #000000;
  --secondary-color: #95C8AE;
  --dark-backgroud-color: #23252f;
  --dark-color: #F8F8F2;
  --font-standard: 1.2rem;
  --font-subheading: 1.75rem;
  --transition: 0.25s ease-in;
  --textured-background-color: #F6F6F6;
}

/* Smooth scroll effect */

html {
  scroll-behavior: smooth;
}

/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

/* Regular stylings */

body {
  font-family: 'Arvo';
  background-color: var(--textured-background-color);
}

ion-icon {
  --ionicon-stroke-width: 56px;
}

.fa{
  padding: 0 0 0 0.5rem;
}

/* Navigation Bar Design */

ul li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

a:hover{
  color: var(--secondary-color);
  cursor: pointer;
}

.jab {
  color: var(--primary-color);
}

.slash {
  color: #868686;
}

.tv {
  color: var(--secondary-color);
}

nav {
  background: #FFFFFF;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  box-shadow: 2px 3px 2px #F1F1F1;
}

nav ul li a{
  display: inline-block;
  position: relative;
}

.standard:before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -2px;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.standard:hover:before{
  transform: scaleX(1);
}

nav ul a:hover{
  color: #000000;
}

.hamburger {
  display: none;
}

.hamburger:hover .bar{
  background-color: var(--secondary-color);
}

.bar {
  background-color: #000000;
  display: block;
  width: 2rem;
  height: 0.25rem;
  margin: 0.25rem auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0 1rem;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 0 0;
}

.nav-item {
  margin: 0 1.0rem;
  text-align: center;
}

nav .nav-item i {
  font-size: 1.5rem;
}

nav .nav-item i:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.nav-item:last-of-type {
  margin: 0 0 0 0.75rem;
}

.nav-item:last-of-type a{
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  padding: 0.25rem 0.75rem;
  margin: 0;
  border-radius: 25px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-item:last-of-type a:hover{
  opacity: 0.65;
  transform: scale(1.05) perspective(1px);
}

.nav-link {
  font-weight: var(--bold-font);
  font-size: 1.0rem;
}

/* Theme Switcher styling */

.theme-button {
  left: 100;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 60px;
  height: 29px;
  background-color: var(--dark-backgroud-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding: 6px;
  position: relative
}

.switcher {
  background-color: #FFFFFF;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.moon {
  color: #FFA502;
  font-size: 20px;
}

.sun {
  color: #FF4757;
  font-size: 20px;
}

.checkbox:checked + .label .switcher {
  transform: translateX(31px);
}

nav .nav-accessory {
  display: none;
  flex-direction: row;
  margin: 0 1rem;
}

nav .nav-accessory .theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-accessory .theme-button i {
  font-size: 1.5rem;
  margin: 0 1rem;
}

nav .nav-accessory .theme-button i:hover {
  cursor: pointer;
  color: var(--secondary-color);
  
}

@media screen and (max-width: 800px) {
  /* Responsive hamburger menu styling */
  nav .nav-accessory {
    display: flex;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
  }

  nav ul {
    background-color: #FFFFFF;
    flex-direction: column;
    position: fixed;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: flex-start;
    gap: 2.5rem;
    padding: 3.0rem 0;
  }

  nav ul .nav-item:first-of-type {
    display: none;
  }

  nav ul.active {
    left: 0;
  }

  nav ul.active .nav-item {
    margin: 0rem auto;
  }
}

/* Hero section starts */

.hero {
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  padding: 0.5rem;
  margin: 2rem auto;
  margin-bottom: 0;
}

/* Text Design */

.hero .intro-text h1 {
  font-size: 3rem;
}

.hero .intro-text .tornike {
  color: var(--secondary-color);
}

.hero .intro-text .avaliani {
  color: var(--primary-color);
}

.hero .intro-text h3 {
  font-size: 1.75rem;
}

/* Icon Design */

.hero .intro-text .home-icons {
  font-size: 3.5rem;
  margin-right: 0.25rem;
}

.hero .intro-text .home-icons i {
  margin-right: 0.5rem;
  margin-left: -0.5rem;
}

.hero .intro-text .home-icons i:hover {
  opacity: 0.95;
  color: var(--secondary-color);
  transform: scale(1.05);
}

/* Homepage Button Design */

.btn {
  margin: 1rem 1rem 0 0; 
  display: inline-block;
  padding: 0.75rem 0.4rem;
  border: 2px solid #000000;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: #000000;
}

.pink {
  background-color: var(--secondary-color);
}

.pink:hover {
  transform: scale(1.05);
  opacity: 0.825;
  color: #000000;
}

/* Div Designs */

.hero div {
  max-width: 70%;
  min-width: 45%;
}

.hero .photo-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Image Design*/
.hero .photo-container .photo img {
  border: 0.2rem solid #000000;
  border-radius: 50%;
  width: 100%;
}

/* About section style */

.about {
align-items: center;
width: 80.0%;
position: relative;
margin: 3rem auto;
max-width: 55rem;
}

.about p {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: var(--font-standard); /* 1.1rem */
  vertical-align: baseline;
}

.about h3{
  font-weight: bold;
  font-size: var(--font-subheading); /* 1.75rem */
  padding: 0.2rem 0 0.5rem 0;
}

.top-text h2{
  font-weight: 400;
  font-size: 3rem;
  color: var(--secondary-color)
}

.top-text p {
  margin: 1.5rem 0 0 0;
}

/* Displays superscript */

.top-text sup {
  position: relative;
  vertical-align: baseline;
  top: -0.5rem;
}

/* Design for any "sections" of writing */

.highlights {
  display: flex;
  flex-direction: row;
  margin: 1.25rem auto;
}

/* Education and Interests styling */

.container {
  text-align: left;
  margin: 1.25rem auto;
  width: 50%;
  height: auto;
  line-height: 1.5rem;
}

.container ul {
  margin-top: 1rem;
  display: block;
}

.container li {
  padding: 0 0 0 0.5rem;
}

.container i {
  font-size: 1.5rem;
  margin: 0;
}

/* Education Column */

.description .course {
  font-size: 1.25rem;
}

.description .institution {
  line-height: 1.35rem;
  font-size: 0.875rem;
}

.description .class {
  line-height: 1.35rem;
  font-style: italic;
  font-size: 0.875rem;
  opacity: 0.7;
}

/* Interests Column */

.highlights .container .interests li {
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

/* Contains banners/images from IET and Cambridge */

.banners {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img-container{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.img-container img {
  max-width: 90%;
  padding: 0 1rem;
  height: auto;
  margin: auto 0;
}

.img-container .dark-uni-image {
  display: none;
}

.img-container .light-uni-image {
  display: block;
}


/* Central Body of text Design */

/* Design for each CV experience */

.experiences {
  display: block;
}

.experience .experiences .experiences-list-element{
  margin: 0 0 1.5rem 0;
}

/* Company Details */

.experiences i{
  font-size: 1.5rem;
  margin: 0;
}

.experiences .work-description .company{
  font-size: var(--font-standard);
  line-height: 1.75rem;
}

.experiences .work-description .company-description {
  font-style: italic;
  font-size: 1.0rem;
  line-height: 1.25rem;
}

.experiences .work-description .date {
  font-size: 0.85rem;
  line-height: 1.0rem;
}

/* Company description styling */

.company-tasks {
  display: block;
  font-size: 1.0rem;
  line-height: 1.25rem;
  margin: 0 0 0 1.25rem;
}

.company-tasks li {
  list-style-type: square;
  list-style-position: outside;
}

/* Text at the bottom section of page */

.bottom-text {
  margin: 1.5rem 0 3rem 0;
}

.self-study .self-study-qualifications {
  display: block;
  margin: 0rem 0rem 1rem 1.35rem;
}

.self-study .self-study-qualifications .qualification {
  font-size: var(--font-standard);
  list-style-type: square;
  list-style-position: outside;
}

.self-study .self-study-qualifications .self-study-embedded-list {
  display: block;
  font-size: 1.0rem;
  margin: 0 0 1.5rem 1.35rem;
}

.self-study .self-study-qualifications .self-study-embedded-list li {
  list-style-type: square;
  list-style-position: outside;
  font-style: italic;
  line-height: 1.25rem;
}

/* Scroll-Up styling */
.scroll-container {
  position: fixed;
  right: 0.5%;
  bottom: 1%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 10%;
}

.scroll-container .scroll-up-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}

.scroll-container .scroll-up {
  cursor: pointer;
  font-size: var(--font-subheading);
  color: #000000;
}

.scroll-container .scroll-up-container i:hover {
  font-size: 2.5rem;
}

/* Projects and Coursework section styling */

.projects-coursework .top-text p, h2 {
  text-align: center;
}

.about .coursework-container {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  margin: 2.5rem auto;
  gap: 2.5rem;
}

/* Consistent design every unique coursework project */

.about .coursework-container .coursework-instance {
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  padding: 1.5rem 1.25rem;
  box-shadow: 1px 1px 10px 2px #EEEEEE, -1px -1px 10px 2px #EEEEEE;
  transition: 0.25s linear;
  max-width: 45rem;
  background-color: #FFFFFF;
}

.about .coursework-container .coursework-instance:hover {
  transform: scale(1.01);
}

.about .coursework-container .coursework-instance .slide-container {
  padding: 0 0 1.5rem 0;
}

.about .coursework-container .coursework-instance .slide-container .coursework-title {
  color: var(--secondary-color);
  font-size: var(--font-subheading);
}

.about .coursework-container .coursework-instance .slide-container p {
  color: var(--primary-color);
  font-size: 0.9rem;
  opacity: 0.75;
  font-style: italic;
}

.about .coursework-container .coursework-instance .coursework-description p {
  font-size: 1.0rem;
  line-height: 1.25rem;
}

/* Project styling */

/* Text at the top of projects page */

.project-section .top-text {
  text-align: center;
}

.project-section .top-text i {
  opacity: 0.75;
  font-size: 1.0rem;
}

.project-section .project-description {
  text-align: left;
  margin: 0 auto;
  margin: 1rem 0 2.5rem 0;
}

.project-section .project-description ul {
  display: block;
  margin: 0 0 1.5rem 1.35rem;
}

.project-section .project-description li {
  list-style-type: square;
  list-style-position: outside;
  font-weight: 400;
  font-size: var(--font-standard);
  vertical-align: baseline;
}

/* Designing the visual components of the project page */

/* Slide show styling and sizing */

.project-section .project-slideshow-container {
  width: 75%;
  height: auto;
  margin: 2rem auto;
}

.project-section .project-slideshow-container .project-slideshow{
  height: 100%;
  width: 100%;
}

.project-section .project-slideshow-container .project-slideshow .visual-container{
  height: 100%;
  width: 100%;
  position: relative;
}

/* Slideshow accessories like arrows and dots */

.project-section .project-slideshow-container .project-slideshow .slideshow-dots {
  margin: 1.5rem auto;
  text-align: center;
  transition: 0.3s linear;
}

.project-section .project-slideshow-container .project-slideshow .slideshow-dots .dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #BFBFBF;
}

.project-section .project-slideshow-container .project-slideshow .slideshow-dots .active{
  background-color: #7C7C7C;
  opacity: 0.99;
  transform: scale(1.15) perspective(1px);
}

.project-section .project-slideshow-container .project-slideshow .slideshow-dots .dot:hover{
  background-color: #7C7C7C;
  opacity: 0.99;
  transform: scale(1.15) perspective(1px);
}

.project-section .project-slideshow-container .project-slideshow .visual-container .next, .prev{
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
  margin-top: -1.5rem;
  color: var(--secondary-color);
  padding: 0.5rem;
  top: 50%;
}

.project-section .project-slideshow-container .project-slideshow .visual-container .next {
  right: -1.33em;
}

.project-section .project-slideshow-container .project-slideshow .visual-container .prev {
  left: -1.33em;
}

.project-section .project-slideshow-container .project-slideshow .visual-container i:hover{
  opacity: 0.75;
  transform: scale(1.15) perspective(1px);
}

/* Video styling and sizing */

.project-section .project-slideshow-container .project-slideshow .visual-container .single-video {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.project-section .project-slideshow-container .project-slideshow .visual-container .single-video .single-video-video{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.project-section .project-slideshow-container .project-slideshow .visual-container .visual {
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
}

.project-section .project-slideshow-container .project-slideshow .visual-container .visual img, video {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 30rem;
  min-height: 22.5rem;
}

.project-section .project-slideshow-container .project-slideshow .visual-container .single-video iframe {
  max-height: 30rem;
  min-height: 22.5rem;
}

.project-section .project-slideshow-container .project-slideshow .visual-container .visual iframe {
  max-height: 30rem;
  min-height: 22.5rem;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

/* Blog styles

.blog .top-text p{
  text-align: center;
}

.blog .top-text i{
  padding: 2rem;
  font-size: 2.5rem;
} */

.blog {
  width: 100%;
}

.blog-body {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
}

.blog .blog-nav {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: auto;
  grid-template-areas: "blog-bar-left blog-bar-content blog-bar-right";
  padding: 0 0 0.5rem 0;
}

.blog .blog-nav .blog-bar-content {
  grid-area: blog-bar-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}

.blog .blog-nav .blog-bar-content .active {
  text-decoration: 2px underline var(--secondary-color);
  text-underline-offset: 0.75rem;
}

.blog .blog-nav .blog-bar-content .blog-bar-item {
  padding: 0.25rem 0.5rem 0 0.5rem;
  text-align: center;
  font-size: var(--font-standard);
}

.blog .blog-title {
  width: 100%;
  max-width: 62.5rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left" "right";
  gap: 1rem 1rem;
  align-items: center;
  justify-items: center;
}

.blog .blog-title:hover {
  opacity: 0.6;
  transform: scale(1.025) perspective(1px);
  color: #000000;
}

.main-blog-img {
  display: grid;
  grid-area: left;
}

.main-blog-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog .blog-title .main-blog-text {
  text-align: center;
}

.blog .blog-title .main-blog-text h3 {
  font-size: 1.75rem;
  padding: 0.5rem 0;
}

.blog .blog-title .main-blog-text p {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.75rem 0 0.5rem 0;
}

.blog .blog-title .main-blog-text i {
  font-size: 0.8rem;
}

.blog .blog-content {
  width: 100%;
  max-width: 62.5rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
    "main main main main main main main sd sd sd";
  gap: 1rem 2rem;
}

.blog .blog-content .blog-items {
  grid-area: main;
}

.blog .blog-content .blog-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
    "pic pic main main main main";
  gap: 1rem 1rem;
  margin: 0.5rem auto;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #000000;
  padding: 0 0 0.5rem 0;
}

.blog .blog-content .blog-item .blog-item-picture {
  grid-area: pic;
  display: grid;
}

.blog .blog-content .blog-item {
  text-align: center;
}

.blog .blog-content .blog-item:hover {
  opacity: 0.6;
  transform: scale(1.025) perspective(1px);
  color: #000000;
}

.blog .blog-content .blog-item .blog-item-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog .blog-content .blog-item .blog-item-text {
  grid-area: main;
}

.blog .blog-content .blog-item .blog-item-text h3 {
  font-size: 1.5rem;
}

.blog .blog-content .blog-item .blog-item-text p {
  padding: 0.75rem 0;
  font-size: 1.0rem;
  line-height: 1.5rem;
}

.blog .blog-content .blog-item .blog-item-text i {
  font-size: 0.8rem;
}

.blog .blog-content .blog-sidebar {
  grid-area: sd;
  display: grid;
  grid-auto-rows: auto;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.blog .blog-content .blog-sidebar .blog-sidebar-item h2{
  text-align: left;
}

.blog .blog-content .blog-sidebar .blog-sidebar-item h3 {
  padding: 0 0 0.25rem 0;
}

.blog .blog-content .blog-sidebar .blog-sidebar-item p {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.blog .blog-content .blog-sidebar .blog-sidebar-item:first-child {
  border-bottom: 2px solid #000000;
  padding: 0 0 0.5rem 0;
}

@media screen and (max-width: 1010px) {
  .highlights {
    flex-direction: column;
  }

  .highlights .container {
    width: 100%;
    margin: 1rem auto;
  }

  .about h3 {
    padding: 0.2rem 0 0 0;
  }

  .highlights .img-container {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 950px) {
  .experiences .work-description .company {
    line-height: 1.4rem
  }

  .experiences i {
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 800px) {
  nav {
    padding: 0.5rem 0.5rem;
  }

  /* Responsive hero text styling */

  .hero .intro-text h1 {
    font-size: 2.0rem;
  }

  .hero .intro-text h3 {
    font-size: 1.25rem;
  }

  /* Responsive Icon styling */
  .hero .intro-text .home-icons {
    font-size: 2.5rem;
    margin: 0 auto;
  }

  .hero .intro-text .home-icons i {
    margin: 0 auto;
    padding: 0 0.5rem;
  }

  .btn {
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0.25rem 0.5rem;
  }

  .hero {
    margin: 0rem auto;
    flex-wrap: wrap-reverse;
  }

  .hero .intro-text {
    max-width: 90%;
    text-align: center;
  }

  .hero .photo-container {
    max-width: 70%;
  }

  .about {
    width: 90%;
  }

  .projects-coursework {
    width: 80%;
  }

  .banners {
    flex-direction: column;
  }

  .img-container {
    width: 100%;
    margin: 0 auto;
  }

  .img-container img {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0.5rem 0.5rem;
  }

  .about {
    width: 90%;
  }

  .projects-coursework {
    width: 80%;
  }

  .highlights {
    margin: 0 auto;
  }

  .img-container img {
    padding: 0 2rem;
  }

  .scroll-container {
    display: none;
  }

  .project-section .top-text h2 {
    font-size: 2.5rem;
  }

  .experience .experiences .work-description {
    margin-left: -0.5rem;
  }

  .embedded-link {
    color: var(--secondary-color);
  }

  .embedded-link:hover {
    opacity: 0.75;
  }

  body.dark .embedded-link {
    color: var(--secondary-color);
  }
  
  body.dark .embedded-link:hover {
    opacity: 0.75;
  }
}


@media screen and (max-width: 400px) {
  .hero .intro-text h1 {
    font-size: 1.5rem;
  }

  .hero .intro-text h3 {
    font-size: 1rem;
  }

  .hero .intro-text .home-icons {
    font-size: 2.0rem;
    margin: 0 auto;
  }

  .hero .intro-text {
    max-width: 95%;
  }

  .btn {
    font-size: 0.8rem;
    margin: 0.5rem 0.5rem 0.25rem 0.5rem;
  }

  .about p {
    font-size: 1.0rem;
    line-height: 1.3rem;
  }

  .about h3 {
    font-size: 1.5rem;
  }

  .description .course {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .description .institution {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .description .class {
    font-size: 0.85rem;
  }

  .container ul {
    margin-top: 0.5rem;
  }

  .highlights .container .interests li{
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  .highlights .container li {
    padding: 0 0 0.75rem 0;
  }

  .container i {
    font-size: 1.25rem;
  }

  .experience .experiences {
    margin-left: 0;
  }

  .experiences i {
    font-size: 1.25rem;
    display: none;
  }

  .experience .experiences .work-description {
    margin-left: 0rem;
  }

  .experiences .work-description .company {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .experience .work-description .company-description {
    font-size: 0.8rem;
    line-height: 1.05rem;
  }

  .experience .work-description .date {
    font-size: 0.75rem;
    line-height: 0.95rem;
  }

  .experience .work-description .company-tasks {
    font-size: 0.8rem;
    line-height: 1.05rem;
  }

  .self-study .self-study-qualifications .qualification {
    font-size: 1.0rem;
  }

  .self-study .self-study-qualifications .self-study-embedded-list {
    font-size: 0.8rem;
    margin: 0 0 1.5rem 0;
  }

  .self-study .self-study-qualifications .self-study-embedded-list li {
    line-height: 1.05rem;
    list-style-type: none;
  }

  .project-section .project-description li {
    font-size: 1.0rem;
  }

  .project-section .top-text i {
    font-size: 0.85rem;
  }

  .project-section .top-text h2 {
    font-size: 2rem;
  }

  .project-section .project-slideshow-container .project-slideshow .visual-container .next, .prev {
    font-size: 2rem;
  }

  .project-section .project-slideshow-container .project-slideshow .slideshow-dots {
    margin: 1rem auto;
  }

  .project-section .project-slideshow-container .project-slideshow .slideshow-dots .dot  {
    height: 0.75rem;
    width: 0.75rem;
    margin: 0 0.375rem;
  }

  .self-study .self-study-qualifications .self-study-embedded-list {
    margin-bottom: 1rem;
  }

  .self-study .self-study-qualifications .self-study-embedded-list:last-of-type {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 460px) {
  .blog .top-text i{
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}

/* Dark Mode stylings */

body.dark {
  background-color: var(--dark-backgroud-color);
}

body.dark p {
  color: #F8F8F2;
}

body.dark a {
  color: var(--dark-color);
}

body.dark a:hover {
  color: var(--secondary-color);
}

body.dark .jab {
  color: var(--dark-color)
}

body.dark nav {
  background-color: var(--dark-backgroud-color);
  /* #1D1E25 could be a nice alternative nav colour for dark mode */
  box-shadow: 2px 3px 2px #FFFFFF1C;
}

body.dark nav ul a:hover {
  color: var(--dark-color);
}

body.dark .bar {
  background-color: var(--dark-color);
}

body.dark nav .nav-accessory .theme-button i {
  color: var(--dark-color);
}

body.dark nav .nav-accessory .theme-button i:hover {
  color: var(--secondary-color);
}

body.dark nav ul {
  background-color: var(--dark-backgroud-color);
}

body.dark nav .nav-item i {
  color: var(--dark-color);
}

body.dark nav .nav-item i:hover {
  color: var(--secondary-color);
}

body.dark nav .nav-item:last-of-type a {
  color: #FFFFFF;
}

body.dark .label {
  background: #FFFFFF;
}

body.dark .switcher {
  background-color: var(--dark-backgroud-color);
}

body.dark .hero .intro-text .avaliani {
  color: var(--dark-color);
}

body.dark .hero .intro-text {
  color: var(--dark-color);
}

body.dark .btn {
  border: 2px solid #F8F8F2;
}

body.dark .pink:hover {
  color: var(--dark-color)
}

body.dark .hero .photo-container .photo img {
  border: 0.2rem solid #FFFFFF;
}

body.dark .about h3 {
  color: var(--dark-color);
}

body.dark .container ul {
  color: var(--dark-color);
}

body.dark .container i {
  color: var(--dark-color);
}

body.dark .img-container .light-uni-image {
  display: none;
}

body.dark .img-container .dark-uni-image {
  display: block;
}

body.dark .experiences i {
  color: var(--dark-color);
}

body.dark .experiences {
  color: var(--dark-color);
}

body.dark .self-study .self-study-qualifications {
  color: var(--dark-color);
}

body.dark .scroll-container .scroll-up{
  color: var(--dark-color);
}

body.dark .about .coursework-container .coursework-instance {
  background-color: var(--dark-backgroud-color);
  border: 1px solid #FFFFFF1C;
  box-shadow: 1px 1px 10px 2px #FFFFFF1C, -1px -1px 10px 2px #FFFFFF1C;
}

body.dark .about .coursework-container .coursework-instance .slide-container p {
  color: var(--dark-color);
}

body.dark .project-section .top-text i {
  color: var(--dark-color);
}

body.dark .project-section .project-description ul {
  color: var(--dark-color)
}

body.dark .blog .blog-title:hover {
  color: var(--dark-color)
}

body.dark .blog .blog-content .blog-item {
  border-bottom: 2px solid var(--dark-color);
}

body.dark .blog .blog-content .blog-item:hover {
  color: var(--dark-color)
}

body.dark .blog .blog-sidebar {
  color: var(--dark-color)
}

body.dark .blog .blog-content .blog-sidebar .blog-sidebar-item:first-child {
  border-bottom: 2px solid var(--dark-color)
}